.lobby {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobbyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%
}

.chat {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: antiquewhite;
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}